<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>
    <link rel="stylesheet" href="/src/styles/output.css" />
  </head>
  <body>
    <header class="m-5">
      <div class="navbar bg-white text-black rounded-full shadow-sm">
        <div class="navbar-start">
          <div class="dropdown">
            <div tabindex="0" role="button" class="btn btn-ghost btn-circle">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="h-5 w-5"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
              >
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h7" />
              </svg>
            </div>
            <ul
              tabindex="0"
              class="menu menu-lg text-white dropdown-content mt-3 z-[1] p-2 shadow bg-base-100 rounded-box w-52"
            >
              <li><a>Homepage</a></li>
              <li><a>Portfolio</a></li>
              <li><a>About</a></li>
            </ul>
          </div>
        </div>
        <div class="navbar-center">
          <a class="btn btn-ghost text-xl">Nav bar</a>
        </div>
        <div class="navbar-end">
          <button class="btn btn-ghost btn-circle">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-5 w-5"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"
              />
            </svg>
          </button>
          <button class="btn btn-ghost btn-circle">
            <div class="indicator">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="h-5 w-5"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M15 17h5l-1.405-1.405A2.032 2.032 0 0118 14.158V11a6.002 6.002 0 00-4-5.659V5a2 2 0 10-4 0v.341C7.67 6.165 6 8.388 6 11v3.159c0 .538-.214 1.055-.595 1.436L4 17h5m6 0v1a3 3 0 11-6 0v-1m6 0H9"
                />
              </svg>
              <span class="badge badge-xs badge-primary indicator-item"></span>
            </div>
          </button>
        </div>
      </div>
    </header>
    <main class="min-h-[80vh] bg-white flex flex-col gap-8">
      <section class="welcome-msg mt-6 mx-6 min-h-[30vh] shadow-lg rounded-xl">
        <h1 class="text-3xl py-8 text-center text-primary-content">Welcome <%= (locals.student) ? student.name: teacher.name %></h1>
        <p class="text-lg px-12 text-primary-content">Here's a list of the courses you're <%= (locals.student) ? "taking": "teaching" %></p>
      </section>
      <section
        class="courses mx-4 mb-8 grid grid-cols-[45%_45%] md:grid-cols-[30%_30%_30%] grid-rows-2 auto-rows-fr gap-12 justify-center"
      >
      <% if (locals.student) {%>
        <% student.courses.forEach((course) => {%>
        <div class="card bg-base-100 shadow-xl">
          <div class="card-body">
            <h2 class="card-title"><%= course.name %></h2>
            <p><%= course.code %></p>
            <p><%= course.teacher.name %></p>
            <p>Course info</p>
            <div class="card-actions justify-end">
              <button class="btn btn-primary btn-circle">Go</button>
            </div>
          </div>
        </div>  
      <%  }); %>
      <%  } else if (locals.teacher) { %>
        <% teacher.courses.forEach((course) => { %>
          <div class="card bg-base-100 shadow-xl">
            <div class="card-body">
              <h2 class="card-title"><%= course.name %></h2>
              <p><%= course.code %></p>
              <p>Course info</p>
              <div class="card-actions justify-end">
                <button class="btn btn-primary btn-circle">Go</button>
              </div>
            </div>
          </div>  
       <% }); %> 
       <% } %> 
        <!-- <div class="card bg-base-100 shadow-xl">
          <div class="card-body">
            <h2 class="card-title">Course 2!</h2>
            <p>Course info</p>
            <div class="card-actions justify-end">
              <button class="btn btn-primary btn-circle">Go</button>
            </div>
          </div>
        </div>
        <div class="card bg-base-100 shadow-xl">
          <div class="card-body">
            <h2 class="card-title">Course 3!</h2>
            <p>Course info</p>
            <div class="card-actions justify-end">
              <button class="btn btn-primary btn-circle">Go</button>
            </div>
          </div>
        </div>
        <div class="card bg-base-100 shadow-xl">
          <div class="card-body">
            <h2 class="card-title">Course 4!</h2>
            <p>Course info</p>
            <div class="card-actions justify-end">
              <button class="btn btn-primary btn-circle">Go</button>
            </div>
          </div>
        </div>
        <div class="card bg-base-100 shadow-xl">
          <div class="card-body">
            <h2 class="card-title">Course 5!</h2>
            <p>Course info</p>
            <div class="card-actions justify-end">
              <button class="btn btn-primary btn-circle">Go</button>
            </div>
          </div>
        </div>
        <div class="card bg-base-100 shadow-xl">
          <div class="card-body">
            <h2 class="card-title">Course 6!</h2>
            <p>Course info</p>
            <div class="card-actions justify-end">
              <button class="btn btn-primary btn-circle">Go</button>
            </div>
          </div>
        </div> -->
      </section>
    </main>
    <footer class="py-6">
      <div class="w-1/2 m-auto text-center">Some Copyright content</div>
    </footer>
  </body>
</html>
