<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>
    <link rel="shortcut icon" href="/src/assets/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/src/styles/output.css" />
  </head>
  <body>

    <%- include("./partials/header") %>

    <main class="min-h-[80vh] bg-white flex flex-col gap-8">
      <section class="welcome-msg mt-6 mx-6 min-h-[30vh] shadow-lg rounded-xl">
        <h1 class="text-3xl py-8 text-center text-primary-content">Welcome <%= (locals.student) ? student.name: teacher.name %></h1>
        <p class="text-lg px-12 text-primary-content">Here's a list of the courses you're <%= (locals.student) ? "taking": "teaching" %></p>
      </section>
      <section
        class="courses mx-4 mb-8 grid grid-cols-[45%_45%] md:grid-cols-[30%_30%_30%] grid-rows-2 auto-rows-fr gap-12 justify-center"
      >
      <% if (locals.student) {%>
        <% student.courses.forEach((course) => {%>
        <div class="card bg-base-100 shadow-xl">
          <div class="card-body">
            <h2 class="card-title"><%= course.name %></h2>
            <p><%= course.code %></p>
            <p>Instructor: <%= course.teacher.name %></p>
            <p><%= course.assignments.length %> Assignments</p>
            <div class="card-actions justify-end">
              <a href="/students/courses/<%= course.code %>">
                <button class="btn btn-primary btn-circle">View</button>
              </a>
            </div>
          </div>
        </div>  
      <%  }); %>
      <%  } else if (locals.teacher) { %>
        <% teacher.courses.forEach((course) => { %>
          <div class="card bg-base-100 shadow-xl">
            <div class="card-body">
              <h2 class="card-title"><%= course.name %></h2>
              <p><%= course.code %></p>
              <p><%= course.assignments.length %> Assignments</p>
              <div class="card-actions justify-end">
                <a href="/teachers/courses/<%= course.code %>">
                  <button class="btn btn-primary btn-circle">View</button>
                </a>
              </div>
            </div>
          </div>  
       <% }); %> 
       <% } %> 
        <!-- <div class="card bg-base-100 shadow-xl">
          <div class="card-body">
            <h2 class="card-title">Course 2!</h2>
            <p>Course info</p>
            <div class="card-actions justify-end">
              <button class="btn btn-primary btn-circle"><a href="/students/courses/{course.code}">View</a></button>
            </div>
          </div>
        </div>
        <div class="card bg-base-100 shadow-xl">
          <div class="card-body">
            <h2 class="card-title">Course 3!</h2>
            <p>Course info</p>
            <div class="card-actions justify-end">
              <button class="btn btn-primary btn-circle"><a href="/students/courses/{course.code}">View</a></button>
            </div>
          </div>
        </div>
        <div class="card bg-base-100 shadow-xl">
          <div class="card-body">
            <h2 class="card-title">Course 4!</h2>
            <p>Course info</p>
            <div class="card-actions justify-end">
              <button class="btn btn-primary btn-circle"><a href="/students/courses/{course.code}">View</a></button>
            </div>
          </div>
        </div>
        <div class="card bg-base-100 shadow-xl">
          <div class="card-body">
            <h2 class="card-title">Course 5!</h2>
            <p>Course info</p>
            <div class="card-actions justify-end">
              <button class="btn btn-primary btn-circle"><a href="/students/courses/{course.code}">View</a></button>
            </div>
          </div>
        </div>
        <div class="card bg-base-100 shadow-xl">
          <div class="card-body">
            <h2 class="card-title">Course 6!</h2>
            <p>Course info</p>
            <div class="card-actions justify-end">
              <button class="btn btn-primary btn-circle"><a href="/students/courses/{course.code}">View</a></button>
            </div>
          </div>
        </div> -->
      </section>
    </main>
    <%- include("./partials/footer") %>
  </body>
</html>
