<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Assignment</title>
    <link rel="shortcut icon" href="/src/assets/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="/src/styles/output.css" />
  </head>
  <body>
    
    <%- include("./partials/header") %>

    <main class="bg-white text-black min-h-[80vh] flex flex-col">
      <section class="assign-info m-6 rounded-xl shadow-lg">
        <h1 class="text-3xl py-4 text-center text-primary-content">
          <span class="course-code"><%= course.code %></span> - <%= course.name %>
        </h1>
        <h2 class="text-2xl py-2 text-center text-primary-content">
          <span class="hidden assign-id"><%= assignment.id %></span>Assignment: <%= assignment.name %>
        </h2>
        <p class="text-lg px-12 py-4 text-center text-primary-content">
          This assignment has <%= assignment.questions.length %> questions
        </p>
        <div id="info-alert" role="alert" class="my-2 m-auto max-w-max md:max-w-max hidden alert alert-info justify-center">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="stroke-current shrink-0 w-6 h-6"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path></svg>
          <span>Working on it ... Please wait </span>
          <span class="loading loading-infinity loading-md"></span>
        </div>
        <div id="success-alert" role="alert" class="my-2 m-auto max-w-max md:max-w-max hidden alert alert-success  justify-center">
          <svg xmlns="http://www.w3.org/2000/svg" class="stroke-current shrink-0 h-6 w-6" fill="none" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z" /></svg>
          <span>Logged In successfully!</span>
        </div>
        <div id="error-alert" role="alert" class="my-2 m-auto max-w-max md:max-w-max hidden alert alert-error  justify-center">
          <svg xmlns="http://www.w3.org/2000/svg" class="stroke-current shrink-0 h-6 w-6" fill="none" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" /></svg>
          <span >Error! Task failed successfully.</span>
        </div>
        
      </section>
      <form class="form text-white mx-6" action="" method="POST" enctype="multipart/form-data">
        <section
          class="grid mb-6 grid-cols-[45%_45%] grid-rows-2 auto-rows-fr gap-8 justify-center"
        >
          <% assignment.questions.forEach((question, index) => { %>
            <div class="card bg-base-100 shadow-xl">
              <div class="card-body">
                <h2 class="card-title">Question <%= index + 1 %></h2>
                <p><%= question.question %></p>
                <div class="card-actions justify-center">
                    <input type="file" name="<%= question.id %>" class="codeFiles file-input file-input-bordered file-input-primary w-full max-w-xs" />
                    <!-- NOTE: we could directly use the existingSubmissionId for the URLs here, but routes with submissionId only are used by teachers to get submissions in evaluate page. That page is already complex complex, so better use a combination of questionId and studentId here, and submissionId there-->
                    <% if (question.existingSubmissionId) {%>
                      <div class="view-delete-btns">
                        <a href="/students/<%= student.id %>/submissions/<%= question.id %>">
                          <button type="button" class="view-btn btn btn-primary btn-ghost">View Submitted</button>
                        </a>
                        <button type="button" data-studentId="<%= student.id %>" data-questionId="<%= question.id %>" class="delete-btn btn btn-primary btn-ghost">Delete Submitted</button>
                      </div>
                    <% } else {%>
                      <div class="view-delete-btns hidden">
                        <button type="button" class="view-btn btn btn-primary btn-ghost">View Submitted</button>
                        <button type="button" class="delete-btn btn btn-primary btn-ghost">Delete Submitted</button>
                      </div>
                    <% } %>
                </div>
              </div>
            </div>
          <% }) %>
          <!-- <div class="card bg-base-100 shadow-xl">
            <div class="card-body">
              <h2 class="card-title">Course 2!</h2>
              <p>Course info</p>
              <div class="card-actions justify-end">
                <button class="btn btn-primary btn-circle"><a href="/students/courses/{course.code}">View</a></button>
              </div>
            </div>
          </div>
          <div class="card bg-base-100 shadow-xl">
            <div class="card-body">
              <h2 class="card-title">Course 3!</h2>
              <p>Course info</p>
              <div class="card-actions justify-end">
                <button class="btn btn-primary btn-circle"><a href="/students/courses/{course.code}">View</a></button>
              </div>
            </div>
          </div>
          <div class="card bg-base-100 shadow-xl">
            <div class="card-body">
              <h2 class="card-title">Course 4!</h2>
              <p>Course info</p>
              <div class="card-actions justify-end">
                <button class="btn btn-primary btn-circle"><a href="/students/courses/{course.code}">View</a></button>
              </div>
            </div>
          </div>
          <div class="card bg-base-100 shadow-xl">
            <div class="card-body">
              <h2 class="card-title">Course 5!</h2>
              <p>Course info</p>
              <div class="card-actions justify-end">
                <button class="btn btn-primary btn-circle"><a href="/students/courses/{course.code}">View</a></button>
              </div>
            </div>
          </div> -->
        </section>
        <div class="submit-reset-btns w-1/3 mx-auto mb-2 flex gap-6 justify-center">
          <input type="submit" value="Upload" class="submit-btn btn w-1/2">
          <input type="reset" class="reset-btn btn w-1/2">
        </div>
        
      </form>
    </main>
    <%- include("./partials/footer") %>

    <script type="text/javascript" src="/src/scripts/uploadAssignment.js"></script>
  </body>
</html>
